body{
    background-color: #f4f5f6;
    font-family: 'montserrat', sans-serif;
    font-size: 14px;
    line-height: 125%;
    color: #5a5a5a;
}
.wrapper{
    max-width: 1200px;
    min-width: 1200px;
    margin: auto;
}
.clearfix::after{
    clear: both;
    content: "";
    display: table;
}
#galeri{
    width: 1140px;
    padding: 20px 40px;
    height: 700px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    float: left;
    margin: auto;
    border: solid 1px lightgray;
    border-top: none;
    display: flex;
}
#atas{
    margin-top: 25px;
}
#garis{
    width: 20px;
    height: 50px;
    background-color: #ffc91b;
    float: left;
    margin-top: 15px;
}
#judul{
    background-color: #212C5F;
    width: 1200px;
    height: 20px;
    padding: 20px 11px 20px 10px;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    margin-bottom: 0px;
    border: solid 1px lightgray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#isi{
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
        text-indent: 50px;
}
#tanggal{
    text-align: right;
    margin-right: 50px;
}
#ttd{
    text-align: right;
    margin-right: 100px;
}
#nama{
    text-align: right;
    margin-right: 50px;
}
#lanjut{
    margin-top: 700px;
    display: flex;
    float: right;
}
#a_lanjut{
    text-decoration: none;
    color: black;
    margin-left: 100px;
}